@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Noto Serif TC", serif;
  --color-zinc-950: #09090b;
  --color-zinc-900: #18181b;
  --color-zinc-800: #27272a;
  --color-zinc-700: #3f3f46;
}

body {
  font-family: "Noto Serif TC", serif;
  background-color: var(--color-zinc-950);
  color: #e4e4e7;
}
